/* @font-face {
    font-family: 'Avenir Next';
    src: url("http://www.yoursite.com/fonts/Avenir_Next.otf");  */

h1, h2, h3, h4, h5, h6, p, li, a {
    font-family: 'DM Sans';
 }
.container {
    max-width: 100% !important;
}
.sidebar {
    padding-left: 0px;
    padding-right: 0px;
}
.sidebar-header {
    text-align: center;
}
.sidebar-header .picture {
    margin-top: 24px;
}
.sidebar-header .user-photo {
    margin-top: 50px;
    border-radius: 50%;
}
.sidebar-header .user-name {
    line-height: 26px;
    margin-top: 11px;
}
.sidebar-header .user-email {
    margin-top: 12px;
    line-height: 23px;
}
.sidebar hr {
    margin-top: 31px;
    margin-bottom: 31px;
}

.sidebar-menu .img {
    margin-top:0px;
}
.sidebar-menu a {
    font-size: 15px;
    color: #6b60f1;
    font-family: "Avenir Next", sans-serif !important;
    margin-left: 40px;
}
.sidebar-menu a > span {
    margin-left: 17px;
}
.sidebar-menu ul {
    margin-left: 33px;
}
.sidebar-menu ul>li {
    background-image: url('../image/menu-back.svg');
    background-repeat: no-repeat;
    line-height: 84px;
    background-size: 100% 105px;
}

.data-page {
    padding-left: 39px;
    padding-right: 39px;
}

.rectangle {
    margin-top: 58px;
    margin-bottom: 30px;
    width: 100%;
}

.btn-danger {
    width: 125px;
    height: 43px;
    border-radius: 8px;
    background-color: #ff8394;
    margin-top: 23px;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    font-family: "DM Sans";
    border: 0px;
}

.listbar a {
    font-size: 20px;
    color: #2c4498;
    font-weight: bold;
}
.listbar img {
    position: absolute;
    left: -15px;
    top: 32px;
}

.sidebarmenu {
    padding-left: 0px;
}
.sidebarmenu li {
    line-height: 60px;
}
.sidebarmenu .active {
    border-left: 5px solid black ;
} 

.overview {
    background-color: #fff;
    border-radius: 8px;
    font-size: 15px;
    padding:16px 15px 4px 18px;
}

.location {
    background-color: #fff;
    border-radius: 8px;
    height: 151px;
}
.location p {
    font-size: 20px;
    color: #1e2e74;
    margin-top: 20px;
    margin-left: 17px;
    padding-bottom: 0px;
}
.location .list-group-item {
    border: 0px;
    font-size: 16px;
    color: #000000;
    padding-top: 21px;
}

.mapalain {
    text-align: right;
    padding-right: 42px;
    padding-top: 8px;
}

.mapalain img {
    width: 100%;
    height: 133px;
}

.numberofstudent {
   background-color: white;
   border-radius: 8px;
   height: 115px;
   margin-top: 19px;
   text-align: center;
}

.numberofstudent img {
    position: absolute;
    height: 41px;
    width: 40px;
    left: 25px;
    top: 40px;
}
.numberofstudent div {
    margin-top: 29px;
    margin-left: 35px;
    font-size: 20px;
    color: #1e2e74;
    padding-top: 27px;
    padding-bottom: 0px;
} 
.numberofstudent h1 {
    color: #2b2b2b;
    font-size: 45px;
}
.numberofstudent p {
    margin-bottom: 0px;
}

.graduationrates {
    background-color: white;
    border-radius: 8px;
    height: 134px;
    margin-top: 21px;
    text-align: center;
    margin-bottom: 84px;
}
.graduationrates img {
    position: absolute;
    width: 41px;
    height: 51px;
    left: 25px;
    margin-top: 10px;
}
.graduationrates p {
    font-size: 20px;
    color: #1e2e74;
    padding-top: 18px;
    margin-bottom: 10px;
}

.graduation-rate {
    margin-top: 20px;
}
.graduation-rate .progress-label-left {
    float: left;
    margin-right: 0em;
    margin-top: -5px;

}
.graduation-rate .progress-label-right {
    float: right;
    margin-right: -2em;
    margin-top: -20px;
}

.progress-custom {
    display: table;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  
}

.progress-custom .progress{
    margin-bottom: 0;
    vertical-align: middle;
    border-radius: 0px;
}
.progress-custom .progress-bar {
    background-color: #1e2e74
    ;
}
.progress-custom .progress-bar2 {
    background-color: #009dff;
}
.progress-custom .second-bar {
    background-color: #05d1ba;
}
.progress-custom .progress-value{
    display: table-cell;
    vertical-align: middle;
    padding: 0 4px;
    position: absolute;
    right: 3px;
    top: 29px;
}
.progress-custom .secon-custom {
    display: table-cell;
    vertical-align: middle;
    padding: 0 4px;
    position: absolute;
    left: -510px;
    top: 29px;
}

.graduationrates h4 {
    padding-top: 0px;
    font-size: 30px;
    color: #2b2b2b;
    margin-top: -16px;   
}

.classroom-size {
    background-color: white;
    border-radius: 8px;
    height: 115px;
    margin-top: 29px;
    text-align: center;
}
.classroom-size img {
    position: absolute;
    left: 25px;
    top: 40px;
}
.classroom-size p {
    font-size: 20px;
    color: #1e2e74;
    padding-top: 19px;  
    margin-bottom: 0px;
}
.classroom-size h1 {
    font-size: 45px;
    color: #2b2b2b;
}
.classroom-size h1 > span {
    font-size: 20px;
    position: absolute;
    margin-top: 6px;
}

.female {
    background-color: white;
    border-radius: 8px;
    height: 134px;
    margin-top: 15px;
    text-align: center;
}
.female img {
    position: absolute;
    width: 41px;
    height: 51px;
    left: 25px;
    margin-top: 10px;
}
.female p {
    font-size: 20px;
    color: #1e2e74;
    padding-top: 18px;
    margin-bottom: 10px;
}

.female {
    margin-top: 20px;
}
.female .progress-label-left {
    float: left;
    margin-right: 0em;
    margin-top: -5px;

}
.female .progress-label-right {
    float: right;
    margin-right: -2em;
    margin-top: -20px;
}
.female h4 {
    padding-top: 0px;
    font-size: 30px;
    color: #2b2b2b;
    margin-top: -16px;   
}

.intitution {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

@media(min-width: 576px){
    .school {
        padding-right: 20px;
    }
    .level {
        padding-left: 20px;
    }
}

.intitution .school-type {
    display: flex;
    justify-content: center;
    padding-top: 57px;
}
.intitution .school-type>p {
    margin-top: 6px;    
    padding-left: 10px;
   
}
.intitution h6 {
    font-size: 45px;
    color: #5c5c5c;
}
.initution-school, .initution-Level {
    background-color: white;
    border-radius: 8px;
    height: 237px;
    margin-top: 25px;
    margin-bottom: 30px;
}
.chart .progress .progress-value {
    background-color: white;
    color: #5c5c5c
}
.chart-img {
    display: flex;
    justify-content: center;
    padding-top: 18px;   
    padding-left: 10px;
}
.intitution .chart-img>p {
    margin-top: 6px;    
    padding-left: 10px;
   
}
.progress-circle {
    display: flex;
    /* justify-content: center; */
}
.progress-circle p {
    margin-top: 74px;
}
.progress-circle .progress {
    margin-top: -8px;
    /* float: none; */
}

.progress.blue .progress-bar {
    border-color: #05d1ba
}

.acceptance {
    background-color: white;
    border-radius: 8px;
    margin-left: 0px;
    margin-right: 0px;
}

.acceptance .act-pane {
    display: flex;
    justify-content: space-around;
}
.acceptance .act-part {
    display: flex;
    padding: 10px 0px;
}
.act-part img {
    margin-top: 24px;
}
.act-part p {
    margin-left: 1px;
    margin-top: 26px;
    font-size: 20px;
    color: #1e2e74;
}

.act-yes {
    display: flex;
}
.act-yes img {
    margin-top: 20px;
    margin-left: 23px;

}
.act-yes p {
    margin-left: 23px;
    margin-top: 29px;
    font-size: 20px;
    color: #5c5c5c;
}

.line {
    display: flex;
    justify-content: center;
}
.middle-line {
    height: 44px;
    border-left: 1px solid #707070;
    margin-top: 26px;
}

.application {
    background-color: white;
    /* height: 215px; */
    margin-top: 13px;
    border-radius: 8px;
}
.application .type {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}

.type p {
    font-size: 20px;
    color: #2f3e7e;
    display: inline;
}

.deadline {
    padding: 19px 30px;
}
.table {
    font-size: 16px;
    color: #5c5c5c;
    border-top: 1px solid #707070;
    background-color: #f7f7f7;
}

.requirment {
    background-color: white;
    border-radius: 8px;
    height: auto;
    margin-top: 13px;   
}

.instatestudent {
    display: flex;
    padding: 10px 45px;
}
.requirment .divide {
    border-bottom: 0.44999998807907104px solid #707070; 
    margin: auto;
    height: 16px;
    width: 96%;
}
.instatestudent p {
    font-size: 16px;
    color: #5c5c5c;
}
.instatestudent .progress-bar {
    background-color: #009dff;
}
.instatestudent .progress-bar1 {
    background-color: #05d1ba;
}
.instatestudent .progress {
    background-color: #fff;
    border-radius: 0px;
    height: auto;
    width: 100%;
    
}
.instatestudent h2 {
    margin-left: 5px;
    font-size: 45px;
    color: #5c5c5c;
}
.instate-progress {
    display: flex;  
    /* border-left: 1px solid black; */
}
.instatestudent-bar {
    height: 80px;
    padding-left: 1px;
}
.instatestudent-bar h5 {
    font-size: 45px;
    color: #5c5c5c;
    margin-top: -8px;
    margin-left: 20px;
}
.instatestudent-divide {
    border-left: 0.44999998807907104px solid #707070; 
    height: 88px;
    margin-top: -7px;
}

.test-scores {
    padding: 47px 75px;
}
.test-scores p {
    font-size: 16px;
    color: #5c5c5c;
}

.chart-progress-bar {
    float: left;
    background: none;
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.chart-progress-bar .progress-circle .progress-value {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #fff;
    font-size: 25px;
    color: #5c5c5c;
    line-height: 75px;
    text-align: center;
    position: absolute;
    top: 6%;
    left: 7%;
}
.chart-progress-bar .progress-circle .progress-bar {
    border-width: 8px;
    border-color: #009dff;
    
}
.chart-progress-bar .progress-circle .progress {
    width: 86px;
    height: 86px !important;
}
.chart-progress-bar .progress-circle .progress-bar {
    border-width: 8px;
}
.progress-custom p {
    font-size: 12px;
    color: #5c5c5c;
    margin-bottom: 0px  ;
}
.average-progress {
    padding-top: 50px;
    padding-right: 87px;
}





.background {
    background-color: white;
    border-radius: 8px;
}
.affordability {
    background-color: white;
    border-radius: 8px;
    margin: 0px;
    padding: 15px;
   
}
.affordability img {
    /* padding-left: 34px; */
    position: absolute;
}
.affordability .font-type {
    padding-left: 40px;
    padding-top: 15px;
}
.affordability .font-type h6 {
    font-size: 25px;
    color: #1e2e74;
}

.affordability .font-type h4 {
    font-size: 20px;
    color: #1e2e74;
}
.affordability .font-type h1 {
    font-size: 45px;
    color: #5c5c5c;
    padding-left: 9px;
}
.affordability .font-type p {
    font-size: 12px;
    color: #1e2e74;
}

.tuition {
    padding-top: 45px;
}
.tuition .list-tuition {
    font-family: 'DM Sans';
    font-size: 20px;
    color: #1e2e74;
}
.tuition .list-instatetuition {
    font-size: 15px;
    color: #5c5c5c;
    font-family: "DM Sans";
    height: 35px;
}
.additionalcosts {
    padding-top: 22px;
}
.scholarship {
    padding: 32px;
    /* border-bottom: 0.5px solid #707070; */
}
.scholarship h1 {
    font-size: 20px;
    color: #1e2e74;
}
.right-list li {
    padding: 0px;
}
.scholarship .second-circle {
    justify-content: left;
    margin-top: 17px;
}
.scholarship .progress-circle .second-value {
    background: white;
    font-size: 25px;
    color: #5c5c5c;
    margin-top: 34px;
}
.scholarship .progress-circle .progress.blue .progress-bar {
    border-color: #0976d3;
    border-width: 10px solid;
}
.second-value h5 {
    font-size: 25px;
    color: #5c5c5c;
}
.second-value h6 {
    font-size: 15px;
    color: #5c5c5c;
}

.averageaidperyear {
    border-top: 0.5px solid #707070;
}
.averageaidperyear .ring-progress-bar {
    /* float: left; */
}
.ring-progress-bar .progress {
    width: 81px;
    height: 81px !important;
    float: left;
    line-height: 150px;
    background: none;
    margin:     20px;
    box-shadow: none;
    position: relative;
    border-color: #09cbd3;
}
    
.ring-progress-bar .progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 8px;
    border-style: solid;
    position: absolute;
    top: 0;
    
}
.ring-progress-bar .progress .progress-value {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: white;
    font-size: 20px;
    color: #5c5c5c;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: -32%;
    left: 9%
}
    
.ring-progress-bar .progress.blue .progress-bar {
    border-color: #09cbd3 !important;
}

.scholarship .border-top {
    border-top: 0.5px solid #707070;
}
.border-top li > h5 {
    font-size: 20px;
    color: #5c5c5c;
}
.list-text {
    display: flex;
    justify-content: space-around;
}
.federal {
    display: flex;
}
.federal p {
    padding-right: 258px;
    font-size: 15px;
    color: #5c5c5c;
}
.federal h5 {
    font-size: 20px;
    color: #5c5c5c;
}
/* .textalign {
    text-align: center;
} */
.institution {
    display: flex;
    border-top: 0.5px solid #707070;
}
.institution p {
    padding-right: 230px;
    font-size: 15px;
    color: #5c5c5c;
}
.institution h5 {
    font-size: 20px;
    color: #5c5c5c;
}

.scholarshipsgrant {
    border-top: 0.5px solid #707070;
    margin: 0 29px;
}
.footer-bar {
    margin: 21px !important;
    /* text-align: left; */
}
.footer-bar p {
    /* margin-top: 10px; */
    margin-bottom: 0px;
    font-size: 15px;
    color: #5c5c5c;
    font-weight: bold;
}
.footer-bar h5 {
    font-size: 25px;
    color: #5c5c5c;
    font-weight: bold;
}

.studentloans {
    background-color: white;
    border-radius: 8px;
    margin: 15px 0px;
    padding: 40px;
}
.borrowing-loans {
    display: flex;
    
}
.borrowing-loans p {
    padding-top: 4px;
    padding-left: 2px;
    margin-bottom: 0px;
    font-size: 25px;
    color: #1e2e74;
}
.loans-text-type {
    font-size: 20px;
    color: #5c5c5c;
    padding-top: 24px;
    border-bottom: 0.5px solid #707070;
    width: 325px;
    padding-left: 25px;
    display: flex;
    
}

.first-chart-progress{
    display: flex;
    align-items: center;
}
.first-chart-progress .text-average {
    font-size: 15px;
    line-height: 18px;
    color: #5c5c5c;
    padding-left: 11px;
}
.first-chart-progress .doller-average {
    font-size: 20px;
    color: #5c5c5c;
    padding-left: 11px;
}
.new-progress-circle {
    padding-top: 30px;
}
.progress-circle .new-progress-bar {
    border-color: #0976d3 !important;
    display: flex;
    justify-content: left;
    text-align: left;
    border-width: 10px !important;
    border-style: solid;
}
.progress-circle .progress .new-progress-value {
    background: white;
    font-size: 25px;
    color: #5c5c5c;
    float: left;
}
.progress-circle .new-progress {
    width: 124px;
    height: 124px !important;
    margin: 0px;
}

.second-progress-circle .new-progress-bar {
    border-color: #dba835 !important;
}

.scholarshipsgrant-again {
    margin: 0px;
    margin-top: 59px;
}
.footer-bar-second {
    margin: 0 -29px;
}

.loans-payment {
    font-size: 20px;
    color: #5c5c5c;
    font-weight: 500;
}
.payment-money {
    font-size: 25px;
    color: #5c5c5c;
    font-weight: bold;
}
.national {
    font-size: 16px;
    color: #5c5c5c;
}

/* .aftergraduation {
    margin-right: 0px;
} */
.averagesalary{
    background-color: white;
    border-radius: 8px;
    padding: 30px;
    height: auto;
    margin-right: 15px;
}
.averagesalary .flex {
    display: flex;
}
.averagesalary .flex .text-type {
    font-size: 25px;
    color: #253478;
    padding-left: 6px;
}
.averagesalary .center {
    text-align: center;
}
.center .salary {
    font-size: 25px;
    color: #5c5c5c;
}
.center .graduation {
    font-size: 15px;
    color: #5c5c5c;
}
.center .doller {
    font-size: 45px;
    color: #5c5c5c;
    font-weight: bold;
}

.employed {
    background-color: white;
    border-radius: 8px;
    height: auto;
    text-align: center;
    align-items: center;
}
.employed .averageemployed {
    font-size: 25px;
    color: #29377a;
    padding-bottom: 15px;
}

.third-progress-circle {
    display: flex;
    justify-content: center;
}
.third-progress-circle .progress {
    margin: 0px;
    margin-top: 26px;
    margin-bottom: 20px;
    width: 124px;
    height: 124px !important;
}
.third-progress-circle .progress-bar {
    border-color: #09d385 !important;
}
.third-progress-circle .progress .progress-value {
    background: #fff;
    font-size: 30px;
    color: #5c5c5c;
    line-height: 114px;
    border: 10px;
}